<div class="container">
  <div class="row">
    <div class="col">
      Here's a Verb You Entered
      {{#each madLibs}}
      <li>{{word}}</li>
      {{/each}}
    </div>
  </div>
</div>

<br><br>

<div class="row justify-content-center">
  <form class="create-form">

    <div class="form-group">
      <label for="addWord">Word:</label>
      <input type="text" id="addWord" name="name">
    </div>

    <p>Type in the name of a word!
      <button class="btn btn-primary" type="submit">Add Word</button>
    </p>
  </form>
</div>