<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/random.js"></script>
    <title>Are You Feelin' Mad Today?</title>
</head>

<body>
    <div class="container">
        <div class="row" id="interactive-area">
            <div class="col-md-6" id="bg">
                <img src="/assets/images/alice.png" class="img-fluid">
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col">
                        <h1 class="text-center">
                            THIS IS MADLIBz
                        </h1>
                        <p class="subtitle">
                            (nursery rhyme version)
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="text-center" id="story-area">Story</h5>
                        <p id="printedStory"></p>
                        <p id="serverStory">{{story}}</p>
                        <a href="./">
                            <button id="new-story" class="btn btn-outline-light btn-block" type="submit">Make a New Madlib</button>
                        </a>
                        <a href="./random">
                            <button id="view-random-story" class="btn btn-outline-light btn-block" type="submit">View Another Random Story</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>