h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
    color: white;
}

h1 {
    font-family: 'IM Fell DW Pica SC', serif;
    padding: 50px 0 0 0;
    margin-bottom: 0px;
}

h5 {
    font-family: 'IM Fell DW Pica SC', serif;
    padding: 30px 0 0 0;
}

.subtitle {
    text-align: center;
    color: gray;
    font-size: .9rem;
}

#serverStory {
    display: none;
}

.animated {
    display: inline-block;
    display: none;
}

#save-story,
#new-story,
#view-random-story,
#story-area {
    display: none;
}

html {
    background: black;
    height: 100%;
}

body {
    height: 100%;
}

.row,
body {
    background: none;
}

.container {
    height: 100%;
}

input {
    width: 100%;
}


@media only screen and (max-width: 765px) {
    #bg {
        display: none;
    }
}